@{
  Layout = "_Layout";
}

@model PierresPatisserie.Models.Flavor

<h2>Assign Treat</h2>
<hr>

<h4>Add a treat to this flavor: @Html.DisplayFor(model => model.FlavorType)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}
<hr>

<p>@Html.ActionLink("Back to flavors", "Index")</p>