@{
  Layout ="_Layout";
}

@model PierresPatisserie.Models.Flavor

<h2>Flavor Details</h2>
<hr>

<p>@Model.FlavorType</p>
<hr>

@if (Model.Treats.Count == 0)
{
  <p>No treats for this flavor have been added yet!</p>
}
else
{
  <p>Treats:</p>
  @foreach(var join in Model.Treats)
  {
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      <p>
        <input class="btn-xs btn-danger" type="submit" value="X" />
        @Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treats", new { id = join.TreatId })
        @Html.Hidden("joinId", @join.TreatFlavorId)
      </p>
    }
  }
}
<hr>

<p>@Html.ActionLink("Add treat", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back to flavors", "Index")</p>



